@import url(minireset.css);

:root {
    font-family: 'Montserrat', sans-serif;
    --bg-clr: #181719;
    --h1-size: 36px;
    --p-size: 14px;
    --p-line-height: 17px;
    --p-width: 250px;
    --card-title: 12px;
    --card-subtitle: 10px;
    --card-content: 18px;
    --card-padding: 16px 19px;
    --card-line-height: 23px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-clr);
    color: #fff;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    height: 100%;
    border-bottom: 2px solid transparent; /* takes up height of hovered element */
    transition: 0.1s all;
}
a:hover {
    font-weight: 700;
    border-bottom: 2px solid #fff;
   
}

a::before {   /* pseudo element that takes up width of hovered element */
    display: block;
    content: attr(data-text);
    font-weight: bold;
    height: 0;
    line-height: 30px;
    overflow: hidden;
    visibility: hidden;
}


/* navigation */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;

    background-color: var(--bg-clr);
    padding: 19px 12px;
} 

.nav-logo {
    font-family: Crimson Pro;
    font-weight: 200;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    padding: 8px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; 
    top: -100%; /* moves it off screen */
    transition: 0.3s;
}

.nav-menu.clicked {
    flex-direction: column;
    justify-content: center; /* might need resetting for desktop view */
    top: 0;  /*this line takes it back to screen */
    left: 0;
    right: 0; /*for full width */
    bottom: 0; /*and full height */
    background-color: var(--bg-clr);
}

.hamburger {
    display: block;
    cursor: pointer;
    z-index: 1000;
    color: #f2f2f2;
    background-color: var(--bg-clr);
    border: none;
    
}

.material-icons {
    font-size: 38px;
}

.close-icon {
    display: none;
}

.nav-item {
    padding: 20px 43px;
}

.nav-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 8px;
}

/* main page */ 

main {
    padding: 80px 12px;
    width: clamp(296px, 95vw, 1286px);
    align-self: center;
    flex-grow: 1;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container--main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

h1 {
   padding: 25px 0;
   font-family: "Lora";
   font-weight: 500;
   font-size: var(--h1-size);
   line-height: 46px;
}

main p {
   font-weight: 400;
   font-size: var(--p-size);
   line-height: var(--p-line-height);
   max-width: var(--p-width);
}

.container--text a {
    padding: 24px 0 8px;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
}

.arrow {
    font-size: 28px;
    font-weight: bold;
}

.container--images {
    position: relative;
    z-index: -1;
}

img {
    display: block;
    max-height: 100%;
    width: auto;
}

.thumb {
    max-height: 37px;
    border-radius: 50%;
}

.img-big {
    max-height: 555px;
}

.card {
    width: 85%;
    max-width: 300px;
    min-height: 138px;
    position: absolute;
    right: 11px;
    bottom: -101px;
    padding: var(--card-padding);
    background-color: var(--bg-clr);
    background-color: rgb(53, 6, 6);
    background: #181719;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 61px;
}

.card:hover {
    box-shadow: 3px 3px 3px 3px wheat;
}

.header--card {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 18px;
}

.header--card h1 {
    font-size: var(--card-title);
}

small {
    display: block;
    font-size: var(--card-subtitle);
    color: #828282;
}

.card-content p {
    font-size: var(--card-content);
    font-family: "Lora";
    font-weight: bold;
    line-height: var(--card-line-height);
}


footer {
    margin: auto;
    text-align: center;
    font-size: 14px;
}

@media screen and (min-width: 768px) {

    :root {
        --h1-size: 48px;
        --p-size: 24px;
        --p-line-height: 29px;
        --p-width: 410px;
        --card-title: 14px;
        --card-subtitle: 12px;
        --card-content: 24px;
        --card-padding: 10px 14px;
        --card-line-height: 31px;
    }

    .container--main {
        flex-direction: row;
        align-items: center;
    }

    .hamburger {
        display: none;
      }
     
     .nav-menu, .nav-menu.clicked {
        position: static; /*removes all positioning from hidable menu */
        flex-direction: row; /*reset all "clicked" styles */
      }
 
      .nav-item {
         padding: 0 43px;
      }

    .card {
        width: 410px;
        position: absolute;
        right: 32px;
    }

    .thumb {
        max-height: 50px;
    }
        
}